<%- include('./header.ejs') %>

<link href="/css/login.css" rel="stylesheet">

<script>
    $(function(){
        new Vue({
            el: '#container',
            data: {
            },
            methods:{
                test: function(){
                    alert('test')
                },
                drop: function(){
                    alert('drop')
                }
            }
        })

    })

</script>
<div id='container' class="container">
  <form class="form-signin" method="post" >
    <h2 class="form-signin-heading">Please sign in HAS</h2>
    <label for="inputPassword" class="sr-only">Password</label>

    <div class="input-group <% if (fail == true) { %>has-error<% } %>">
      <div class="input-group-addon"><span class="glyphicon glyphicon-console" aria-hidden="true"></span></div>
      <input name='pass' type="number" class="form-control" id="password" placeholder="">
    </div>

      <% if (fail == true) { %>
      <div class="alert alert-danger" role="alert">Wrong code. Please try again.</div>
      <% } %>


    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

  </form>
</div>

<%- include('./footer.ejs') %>

